<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available Drivers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/drivers.css') }}">

</head>
<body>

<div class="container">
    <h1>Nearby Drivers</h1>
    <p id="locationText"></p>

    <div id="driversList" class="drivers-list">
        Loading drivers...
    </div>
</div>

<script src="{{ url_for('static', filename='js/drivers.js') }}"></script>
</body>
</html>
